.swiper-container {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  width: 60px;
  height: 60px;
  background-color: #6AA843B2;
  opacity: 0.7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px;
  color: white;
}